body{
    background-color: blueviolet;
}

.button{
    display: inline-block;
    margin-top: 20px;
    padding: 15px 30px;
    background-color: rgb(202, 26, 188);
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 8px;
    font-size: 18px;
}

ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    text-decoration: none;
    text-align: center;
}

a{
    text-decoration: none;
    color: rgb(129, 1, 76);
    font-size: 30px;
}
